/* Reset de estilos para garantir uma base limpa */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #333;
    padding: 20px 0;
}

h2 {
    font-size: 24px;
    color: #000000;
    margin-top: 20px;
}

.container {
    background-color: #fff;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilo para inputs de texto */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

#variaveis {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#regras {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botoesRegras {
    display: flex;
    gap: 10px;
    justify-content: center;
}

#saida {
    margin-top: 20px;
}

/* Estilo para listas não ordenadas */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    background-color: #9555ef;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #b392d6;
  }

  #selecionarVariavelRegra {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilos para a entrada de texto */
  #selecionarValorRegra {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }